body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: white;
}


.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    align-items: center;
    .hero-gray-bg{
        position: absolute;
        width: 100%;
        height: 250px;
        background: #F2F2F2;
        top: 0px;
        z-index: 0;
    }

    .picture-and-body{
        margin-top: 4rem;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:1rem
    }   
    .hero-body{
        max-width: 500px;
        text-align: center;
        margin-top: 1rem;
        .hero-title{
            font-size: 2rem;
        }
        .hero-body-text{
            font-size: 1.5rem;
        }
    }
    
    .hero-img{
        width: 300px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 6px solid white;
        margin-bottom: -3rem;
        z-index: 10;
        object-fit: cover;
        background-size: cover;
    }
}
nav{
    background-color: #1F203A;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-inline: 2rem;

    .logo,.menu{
        cursor: pointer;
    }
    .logo{
        width: 60px;
        aspect-ratio: 1;
    }

    .menu{
        width: 40px;
        aspect-ratio: 1;
    }
}



.designer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;

    .gray-bg{
        position: absolute;
        bottom: -50px;
        background-color: #E5E5E5;
        width: 100%;
        height: 200px;
        z-index: 0;
    }
    img{
        object-fit: cover;
        z-index: 10;
        width: 500px;
        height: 620px;
    }
    .first-half{
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .title{
            height: 10rem;
            display: flex;
            align-items: flex-end;
            font-size: 3.5rem;
        }
    }
    .second-half{
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        .btn{
            background-color: transparent;
            border : 2px solid #454545;
            color : #454545;    
            width: 180px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        
    }
}




.btn{
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
}



.build{
    height: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    align-items: center;
    .build-title{
        display: flex;
        flex-direction: column;
        text-align: end;
        h1{
            margin: 0px;
            padding: 0px;
            font-size: 6rem;
        }
    }

    .build-body{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .text{
            max-width: 400px;
            font-size: 1.2rem;
        }
        .btn{
            background-color: #FFA54D;
           color: white;
        }
        .btn:hover{
            background-color: #ff942c ;
        }
    }
}







.view-portfolio{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .line{
        width: 800px;
        height: 6px;
        background-color: #454545;
    }
    .view-portfolio-text{
        font-size: 3rem;
        max-width: 700px;
        text-align: center;
    }
    .down-arrow{
        width: 100px;
        aspect-ratio: 1;
    }
}


.portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;

    .img-container{
        position: relative;
        width: 100%;
        height: 100%;
        .front-text{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;  
            text-align: center;          
            font-size: 2rem;            
            background-color: transparent;
            color: transparent;
            z-index: 1;
            text-transform:uppercase;
        }
        .front-text:hover{
            background-color: rgba(255,165,77,1);
            color: white;
            z-index: 3;
            cursor: pointer;
        }
        width: 100%;
        height: 100%;
        .portfolio-img{

            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 2;
        }
    }

}


.white-space{
    width: 100%;
    height: 200px;
}

footer{
    background-image: url('./assets/images/footer-bg.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.713);
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    .footer-text{
        font-size: 1.3rem;
        max-width: 700px;
        text-align: center;
    }
    .footer-icons{
        display: flex;
        gap: 2rem;
        cursor: pointer;
    }
}



@media screen and (max-width:980px ){
    .portfolio{
        grid-template-columns: 1fr 1fr;
    }
    .designer{
        .first-half{
            .title{
                font-size: 2.5rem;
            }
            img{
                width: 300px;
                height: 420px;
            }
        }
        .second-half{
            img{
                width: 300px;
                height: 420px;
            }
        }
    }
    .build{
        .build-body{
            .text{
                max-width: 300px;
            }
        }
    }

    .view-portfolio{
        .line{
            width: 250px;
        }
        .view-portfolio-text{
            font-size: 2rem;
        }
    }
}


@media screen and (max-width:480px ){
    .designer{
        flex-direction: column;
        .first-half{
            .title{
                font-size: 2.5rem;
            }
            img{
                width: 250px;
                height: 370px;
            }
        }
        .second-half{
            img{
                width: 250px;
                height: 370px;
            }
        }
    }
    .build{
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        .build-body{
            .text{
                max-width: 200px;
                text-align: center;
            }
        }
    }

    .view-portfolio{
        .line{
            width: 200px;
        }
        .view-portfolio-text{
            font-size: 1.5rem;
        }
    }
}